{% extends 'hello.html' %}

{% block content %}
<div class="container">
    <form action="{% url 'findUser' user.id %}" method="get">
        <div class="col-xs-1 center-block">
            {% if user %}
            <h4 class="alert alert-info text-center">User Details</h4>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <h4 class="alert alert-info text-center">No User Found</h4>
            {% endif %}
        </div>
    </form>
</div>

{% endblock content %}